@charset "UTF-8";
/*******************************
Webサイト全体の指定
*******************************/
html {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  letter-spacing: 0.08em;
  line-height: 1.5;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

/* ここから記述します。 */
/*******************************
変数の指定
*******************************/
/*******************************
mixin
*******************************/
/*******************************
共通パーツの指定
*******************************/
.u-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 40px;
}
@media screen and (max-width: 768px) {
  .u-container {
    max-width: 390px;
    padding: 80px 20px;
  }
}

.u-title {
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
  font-weight: bold;
  color: #83776a;
}

.u-title--jp {
  font-size: 16px;
  color: #83776a;
  position: relative;
  padding-left: 45px;
}
.u-title--jp::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 2px;
  background: #83776a;
}

.u-readMore {
  display: block;
  position: relative;
  width: 180px;
  text-align: center;
  padding: 10px 0;
  color: #83776a;
  background: #fff;
  border: 1px solid #83776a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.u-readMore::after {
  content: "";
  position: absolute;
  right: -38px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background: #83776a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.u-readMore:hover {
  color: #fff;
  background: #83776a;
}
.u-readMore:hover::after {
  right: -48px;
}
@media screen and (max-width: 768px) {
  .u-readMore {
    margin: 0 auto;
  }
}

/*******************************
header
*******************************/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
}
.header .header__inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header .header__inner {
    padding: 15px 20px;
  }
}
.header .header__inner nav {
  display: block;
}
.header .header__inner nav .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .header .header__inner nav .header__list {
    gap: 24px;
  }
}
.header .header__inner nav .header__list .header__link {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  color: #83776a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header .header__inner nav .header__list .header__link:hover {
  opacity: 0.7;
}

/*******************************
background
*******************************/
.bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/fixed_bg.png) center/cover no-repeat;
  z-index: -1;
}

/*******************************
fv
*******************************/
.firstView {
  position: relative;
  height: 600px;
  margin-top: 82px;
  background-size: cover;
  background-position: bottom;
  background-image: url(../images/fv.png);
  background-repeat: no-repeat;
  margin-left: 280px;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .firstView {
    margin-left: 0;
    width: 100%;
  }
}
.firstView .firstView__title {
  position: absolute;
  left: -140px;
  bottom: 80px;
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-family: "Noto Serif JP", serif;
  font-size: 40px;
  font-weight: bold;
  color: #83776a;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #83776a;
}
@media screen and (max-width: 768px) {
  .firstView .firstView__title {
    top: 100px;
    left: 0;
    right: 0;
    bottom: auto;
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 24px;
    margin: 0 auto;
  }
}

/*******************************
concept
*******************************/
.concept {
  background: #fff;
}
.concept .concept__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}
@media screen and (max-width: 768px) {
  .concept .concept__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 350px;
  }
}
.concept .concept__inner .concept__img {
  display: block;
  width: 470px;
}
@media screen and (max-width: 768px) {
  .concept .concept__inner .concept__img {
    max-width: 370px;
    width: 100%;
  }
}
.concept .concept__inner .concept__desc {
  display: block;
  width: 470px;
}
@media screen and (max-width: 768px) {
  .concept .concept__inner .concept__desc {
    width: 100%;
  }
}
.concept .concept__inner .concept__desc .concept__text {
  margin-top: 64px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .concept .concept__inner .concept__desc .concept__text {
    margin: 40px auto;
  }
}

/*******************************
menu
*******************************/
.menu {
  background: #f9f5ed;
}
.menu .menu__inner {
  display: block;
}
.menu .menu__inner .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin: 28px auto 40px;
  counter-reset: list-counter;
}
@media screen and (max-width: 768px) {
  .menu .menu__inner .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px auto 60px;
  }
}
.menu .menu__inner .menu__list .menu__item:nth-child(1) p::after {
  display: block;
  content: "¥1,540-";
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: bold;
  color: #83776a;
}
.menu .menu__inner .menu__list .menu__item:nth-child(2) {
  margin-top: 40px;
}
.menu .menu__inner .menu__list .menu__item:nth-child(2) p::after {
  display: block;
  content: "¥1,430-";
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: bold;
  color: #83776a;
}
@media screen and (max-width: 768px) {
  .menu .menu__inner .menu__list .menu__item:nth-child(2) {
    margin-top: 0;
  }
}
.menu .menu__inner .menu__list .menu__item:nth-child(3) {
  margin-top: 80px;
}
.menu .menu__inner .menu__list .menu__item:nth-child(3) p::after {
  display: block;
  content: "¥1,540-";
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: bold;
  color: #83776a;
}
@media screen and (max-width: 768px) {
  .menu .menu__inner .menu__list .menu__item:nth-child(3) {
    margin-top: 0;
  }
}
.menu .menu__inner .menu__list .menu__item::before {
  counter-increment: list-counter;
  content: counter(list-counter, decimal-leading-zero);
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
  font-weight: bold;
  color: #83776a;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}
.menu .menu__inner .menu__list .menu__item .menu__img {
  margin-bottom: 16px;
}
.menu .menu__inner .u-readMore {
  display: block;
  margin: 0 auto;
}

/*******************************
bigImg
*******************************/
.bigImage {
  width: 100%;
  height: 500px;
  background: transparent;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .bigImage {
    height: 350px;
    background: url(../images/fixed_bg.png) center/cover no-repeat;
  }
}

/*******************************
shop
*******************************/
.shop {
  background: #fff;
}
.shop .shop__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}
@media screen and (max-width: 768px) {
  .shop .shop__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
.shop .shop__inner .shop__desc {
  display: block;
  max-width: 490px;
  width: 100%;
}
.shop .shop__inner .shop__desc .shop__title {
  font-family: "Noto Serif JP", serif;
  font-size: 20px;
  font-weight: bold;
  color: #83776a;
}
.shop .shop__inner .shop__desc .shop__info {
  margin: 64px 0 38px;
}
@media screen and (max-width: 768px) {
  .shop .shop__inner .shop__desc .shop__info {
    margin: 40px 0;
  }
}
.shop .shop__inner .shop__desc .shop__info .shop__dl .shop__dlGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 16px 0;
}
.shop .shop__inner .shop__desc .shop__info .shop__dl .shop__dlGroup::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
}
.shop .shop__inner .shop__desc .shop__info .shop__dl .shop__dlGroup .shop__dt {
  font-weight: normal;
  width: 70px;
  margin-right: 24px;
}
.shop .shop__inner .shop__desc .shop__info .shop__dl .shop__dlGroup .shop__dd {
  margin-bottom: 16px;
}
.shop .shop__inner .shop__img {
  max-width: 100%;
}

/*******************************
footer
*******************************/
.footer {
  background: #f9f5ed;
}
.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  color: #83776a;
}
.footer .footer__inner .footer__logo {
  margin-bottom: 16px;
}
.footer .footer__inner .footer__nav {
  margin-bottom: 24px;
}
.footer .footer__inner .footer__nav .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  .footer .footer__inner .footer__nav .footer__list {
    gap: 16px;
  }
}
.footer .footer__inner .footer__nav .footer__list .footer__item {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: bold;
}
.footer .footer__inner .footer__copy {
  font-size: 14px;
}

/*******************************
reservation
*******************************/
.resv {
  position: fixed;
  bottom: 65px;
  right: 0;
}